{% extends 'basic_app/base.html' %}
{% block body_block %}
<h2>Hello to parser app</h2>


{% endblock %}
{#<body>#}
{#<div class="parent">#}
{#    <div style="background-color: lightgrey">#}
{#        <h1>{{head}}</h1>#}
{#        <h2>current time is {{date}}</h2>#}
{#    </div>#}
{#    <div class="coinmarcetcal">#}
{#        <p >{{card__title0}}</p>#}
{#        <p >{{card__date0}}</p>#}
{#        <p >{{card__coins0}}</p>#}
{#        <p >{{card__description0}}</p>#}
{#        <a href="{{source0}}">Source</a>#}
{#        <p >Votes - {{votes0}}</p>#}
{#        <p >Votes Percent - {{votes_perc0}}</p>#}
{#    </div>#}
{##}
{#    <div class="coinmarcetcal1">#}
{#        <p >{{card__title1}}</p>#}
{#        <p >{{card__date1}}</p>#}
{#        <p >{{card__coins1}}</p>#}
{#        <p >{{card__description1}}</p>#}
{#        <a href="{{source1}}">Source</a>#}
{#        <p >Votes - {{votes1}}</p>#}
{#        <p >Votes Percent - {{votes_perc1}}</p>#}
{#    </div>#}
{##}
{#    <div class="coinmarcetcal2">#}
{#        <p >{{card__title2}}</p>#}
{#        <p >{{card__date2}}</p>#}
{#        <p >{{card__coins2}}</p>#}
{#        <p >{{card__description2}}</p>#}
{#        <a href="{{source2}}">Source</a>#}
{#        <p >Votes - {{votes2}}</p>#}
{#        <p >Votes Percent - {{votes_perc2}}</p>#}
{#    </div>#}
{##}
{#    <div class="coinmarcetcal3">#}
{#        <p >{{card__title3}}</p>#}
{#        <p >{{card__date3}}</p>#}
{#        <p >{{card__coins3}}</p>#}
{#        <p >{{card__description3}}</p>#}
{#        <a href="{{source3}}">Source</a>#}
{#        <p >Votes - {{votes3}}</p>#}
{#        <p >Votes Percent - {{votes_perc3}}</p>#}
{#    </div>#}
{##}
{##}
{##}
{##}
{#</div>#}
</body>
</html>